/* body {
  font-family: 'Nunito', sans-serif;
  color: #1b1919;
  background-color: #9bd1e2;
} */

/* .container {
  padding: 15px;
} */

/* h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 14px;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #1b1919;
} */

/* .top-header {
  background-color: pink;
}  */

/* .top-header__logo {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: auto;
}

.top-header__nav {
  text-align: center;
}

.top-header__list {
  list-style-type: none;
  padding: 0;
}

.top-header__item {
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.top-header__item--active a {
  color: #d23519;
  border-bottom: 2px solid #d23519;
}

.main {
  background-color: tomato;
  max-width: 500px;
  margin: auto;
}

.main__aside {
  background-color: yellow;
}

.main__aside__list {
  background-color: royalblue;
}

.main__aside__list__item {
  background-color: green;
}

.main__section {
  background-color: orange;
}

.footer {
  margin-top: 50px;
  background-color: white;
} */

/* .footer p {
  font-size: 12px;
  text-align: center;
}

.footer a {
  font-size: 12px;
} */

/* @media screen and (min-width: 675px) {
  body {
    background-color: #f1ebd2;
  }
}

@media screen and (min-width: 999px) {
  body {
    background-color: #edc9ff;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-color: #9be39d;
  }
} */
